// Import all partials
@require './_*.styl'

body, html
  min-height 100%

body
  user-select none
  background-color #CCC

.audio-pad
  display block
  margin: 3rem auto
  // float left
  width 320px
  height 320px
  border-radius 3px
  background white
